@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&family=Yanone+Kaffeesatz:wght@300;400;600&display=swap');

*
{
    padding: 0;
    margin: 0;
    text-decoration: none;

    font-family: 'Poppins', sans-serif;
    align-items: center;
}
header
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0;
    position: relative;
}
.logo
{
    font-size: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: flex;
    color: orangered;
}
.items
{
    list-style: none;
    display: flex;
    text-indent: 40px;
    padding-top: 10px;
    
    font-size: 16px;
    font-weight: 600;
    cursor: alias;

    cursor: pointer;
    margin-right: 20px;
}
.items a
{
    color: black;

}
.items a:hover
{
    color: orangered;
    border-radius: 10px;
}

.main-section
{
    display:inline-flex;
    gap: 1rem;
}
.main-section div
{
    width: 50%;
}
.title-section
{
    width: 50%;
    margin-left: 5%;
}
#photo
{
    width: 60%;
    height: auto;
    
}
#title
{
    display: flex;
    font-size: 50px;
    text-indent: 12px;
    font-weight: 600;
}
.image
{
    text-align: center;
    background: linear-gradient(#c3224e,#fd8b2d);
    border-radius:30% 70% 70% 30% / 30% 30% 70% 70%   ;
}
#sec
{
    color: orangered;
}
.cv-button
{
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background: black;
    border: none;
    color: aliceblue;
    font-weight: 500;
    border-radius: 10px;
}


